<h2 class="form-title">Users</h2>

<div class="user-form grid_7">
  <div class="user-row clearfix">
<% @users.each do |user| %>
  <ul>
    <li> <%= link_to user.name, user_path(user) %></li> 
    <li><%= user.email %></li> 
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %> <br/>
  </ul>
  <%end%>
</div>